body{
	background: #eaeaea url(../images/bg.png);
}

h1{
	color: rgba(207, 207, 207, 0.3);
  	text-shadow: -1px -1px rgba(0,0,0,.3);
  	font-weight: bolder;
  	cursor: context-menu;
}

label{
	cursor:pointer;
}
.strike{
	color: #a9a9a9;
  	text-decoration: line-through;
}

.glyphicon-customHeight {
	line-height:inherit !important;
}

#footer {
  color: #777;
  background-color: rgb(242, 242, 227);
}

#filters a {
  color: #83756f;
  margin: 2px;
  text-decoration: none;
  margin-right: 5%;
  font-weight: bold;
  font-size: 14px;
}  

#clear-completed {
  position: relative;
  line-height: 20px;
  text-decoration: none;
  background: rgba(38, 64, 66, 0.2);
  font-size: 11px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.destroy {
	display:none;
	font-size: 19px;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	background: none;
 	outline: none;
  	border: none;
}

.destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.destroy:after {
	content: '✖';
}

#labelName:hover .destroy {
	display: block;
}

.removeBtn {
	vertical-align:middle !important;
}

.toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	margin:0px;
	/* Mobile Safari */
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	outline:none !important;
	cursor: pointer;
}

.toggle:after {
	content: '✔';
	/* 40 + a couple of pixels visual adjustment */
	line-height: 43px;
	font-size: 20px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

.toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

.effect5
{
  position: relative;
  background-color:white;
}

.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}